@font-face {
  font-family: 'Regasti';
  src: url('./assets/fonts/regasti-regular.otf') format('otf');
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
}

h1 {
  font-family: 'Regasti', serif;
  font-weight: 400; 
  font-size: 200px;
  line-height: 200px;
  letter-spacing: 0;
  margin: 0;
}

h2 {
  font-family: 'Regasti', serif;
  font-weight: 400;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0;
  margin: 0;
}

h2.italic-accent {
  font-family: 'Poppins', sans-serif;
  font-weight: 200; 
  font-style: italic;
  font-size: 64px;
  line-height: 72px;
  letter-spacing: 0;
}

h3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
  font-size: 32px;
  line-height: 40px;
  letter-spacing: 0;
  margin: 0;
}

h3.semibold {
  font-weight: 600;
}

h4 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  margin: 0;
}

.subtitle {
  font-family: 'Poppins', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  letter-spacing: 0;
}

.p1 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  margin: 0;
}

.p1-accent {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
  font-style: italic;
  font-size: 24px;
  line-height: 32px;
  letter-spacing: 0;
  margin: 0;
}

.p2 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
  margin: 0;
}

.p2-accent {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
  font-style: italic;
  font-size: 20px;
  line-height: 32px;
  letter-spacing: 0;
  margin: 0;
}

.p3 {
  font-family: 'Poppins', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;
}

.p3-accent {
  font-family: 'Poppins', sans-serif;
  font-weight: 700; 
  font-style: italic;
  font-size: 16px;
  line-height: 24px;
  letter-spacing: 0;
  margin: 0;
}

.subtext {
  font-family: 'Poppins', sans-serif;
  font-weight: 500; 
  font-size: 12px;
  line-height: 16px;
  letter-spacing: 0;
  margin: 0;
}